@import 'css/_variables.scss';
@import 'css/_mixins.scss';

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include box;
    .details {
        margin-right: 1.5rem;
    }
    .product-name {
        color: $secondary-color;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }
    .product-description {
        font-weight: 300;
        margin-bottom: 0.5rem;
    }
    .product-price {
        color: $highlight-color;
        font-size: 1.25rem;
        &.stroke {
            color: $faded-color;
            text-decoration: line-through;
        }
    }
    .special-offer {
        color: $special-offer-color
    }
}
.route-links {
    display: flex;
    justify-content: space-between;
}
