@import 'css/_variables.scss';
.product {
    flex: 1;
    @media (max-width: 30rem) {
        .cart-button {
            display: none;
        }
    }
    @media (min-width: 30rem) {
        display: flex;
        .cart-button {
            position: fixed;
            top: 1rem;
            right: 1rem;
            width: 4rem;
            height: 4rem;
            text-align: center;
            border-radius: 50%;
            background-color: $highlight-color;
            color: #ffffff;
            outline: 0;
            border: 0;
            box-shadow: 2px 2px 5px #00000066, 2px 2px 15px #00000033;
            cursor: pointer;
            >span {
                position: absolute;
                display: block;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background-color: #ffffff;
                color: $highlight-color;
                text-align: center;
                bottom: 0;
                right: 0;
                box-shadow: 2px 2px 5px #00000066, 2px 2px 15px #00000033;
            }
            &:hover {
                background-color: #c30467
            }
        }
        .product-cart {
            width: 0;
            transition: width 0.5s ease-in-out;
            overflow: hidden;
            &.open {
                width: 15rem;
            }
            >.container-inner {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-left: 2px solid $box-border-color;
            }
        }
    }
}