@import 'css/_variables.scss';

.product-cart {
    .product-list {
        >div {
            display: flex;
            justify-content: space-between;
            padding: 0.75rem 1rem;
            border-top: 1px dotted $box-border-color;
            white-space: nowrap;
            &:last-child {
                border-bottom: 1px dotted $box-border-color;
            }
        }
    }
    .total,
    .saving {
        white-space: nowrap;
        text-align: right;
        color: $secondary-color;
        font-weight: bold;
        font-size: 1.25rem;
        padding: 0.75rem 1rem;
    }
}