@import 'css/_variables.scss';
.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    > * {
        margin-bottom: 1.5rem;
    }
    .label {
        color: $secondary-color;
    }
    .control {
        width: 20rem;
        max-width: 100%;
    }
}