@import 'css/_variables.scss';
header.header-main {
    background-color: $secondary-color;
    padding: 2.25rem 0 4rem 0;
    color: $header-color;
    .phone {
        margin: 0.25rem;
        color: $primary-color;
        font-size: 1.125rem;
        font-weight: 300;
        .icon-phone {
            vertical-align: bottom;
            margin-right: 0.5rem;
            font-size: 1.5rem;
        }
        a.tel {
            color: inherit !important;
        }
        > :first-child {
            font-weight: normal;
        }
    }
    &.header-intro {
        .phone {
            color: $header-color;
        }
    }
    &.header-confirmation,
    &.header-exit {
        > .logo-container {
            @media screen and (max-width: 30rem) {
                width: 4rem;
                float: none;
            }
        }
    }
    > .container-inner > h1 {
        font-weight: 300;
        font-size: 2.5rem;
        line-height: 1.375;
        margin: 0 0 0.5rem 0;
        .brand-name {
            color: $primary-color;
        }
        @media screen and (max-width: 30rem) {
            margin: 1.25rem 0 0.625rem 0;
            line-height: 1.15;
        }
        ~ * {
            font-weight: 300;
            font-size: 1.125rem;
            @media screen and (max-width: 30rem) {
                font-size: 1rem;
            }
        }
    }
    > .logo-container {
        float: left;
        margin: 1.5rem 1.75rem;
        max-width: 10rem;
        height: 6.25rem;
        display: flex;
        align-items: center;
        > img {
            max-height: 100%;
            max-width: 10rem;
        }
        @media screen and (max-width: 30rem) {
            margin: 0.5rem 0.75rem;
            max-width: 5rem;
            height: 3.625rem;
            > img {
                max-width: 5rem;
            }
        }
    }
    @media screen and (max-width: 30rem) {
        padding: 0.5rem 0 1.75rem 0;
    }
    @media screen and (min-width: 30rem) and (max-width: 60rem) {
        display: flex;
        > .logo-container {
            flex: 0 0 auto;
        }
        > .container-inner {
            padding-left: 0;
        }
    }
}