@import 'css/_variables.scss';

@mixin box {
    background-color: $box-background-color;
    padding: 1.5rem;
    border: 2px solid $box-border-color;
    border-radius: 5px;
    margin-bottom: 1.5rem
}