$primary-color: #162732;
$secondary-color:#0d3880;
$highlight-color: #e60278;
$special-offer-color: #1bab0d;
$font-color: #162732;
$placeholder-color:#9FACB7;
$focused-border-color: #7D8E9A;
$faded-color: #7D8E9A;
$label-color: #9B9B9B;
$header-color: white;
$background-color: #F6F6F6;
$box-border-color: #E4E4E4;
$box-background-color: #efefef;
$footer-background-color: #efefef;
$error-color: #D0021B;