@import 'css/_variables.scss';
$transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
$label-transition-duration: 0.2s;
$underline-transition-duration: 0.5s;
.control {
    position: relative;
    .control-label {
        margin-bottom: 0 0.5rem;
        display: inline-block;
        font-size: 0.875rem;
        overflow: hidden;
        white-space: nowrap;
        transition: color $label-transition-duration $transition-timing-function;
        &.control-label-animated {
            pointer-events: none;
            transform-origin: top left;
            transition: all $label-transition-duration $transition-timing-function;
            font-size: 1rem;
            transform: translateY(0) scale(0.875);
            @media screen and (max-width: 30rem) {
                font-size: 0.875rem;
            }
            @media screen and (max-width: 20rem) {
                font-size: 0.75rem;
            }
        }
    }
    input[type=text],
    input[type=email],
    input[type=tel] {
        width: 100%;
        display: block;
        outline: none;
        border: 0;
        padding: 1rem 0;
        text-align: center;
        background-color: #ffffff;
        &::placeholder {
            color: transparent;
        }
    } // IE11 workaround
    input[type=text]:-ms-input-placeholder {
        color: transparent !important;
    }
    input[type=email]:-ms-input-placeholder {
        color: transparent !important;
    }
    input[type=tel]:-ms-input-placeholder {
        color: transparent !important;
    }
    .control-underline {
        height: 1px;
        display: block;
        background-color: $placeholder-color;
        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 0;
            transition: all $underline-transition-duration $transition-timing-function;
        }
    }
    &.focus {
        .control-label {
            color: $secondary-color;
        }
        .control-underline::after {
            background-color: $secondary-color;
            width: 100%;
        }
    }
    &.blur.empty {
        .control-label-animated {
            transform: translateY(1.75rem) scale(1.125);
            animation: placeholder-fading $label-transition-duration ease-out;
            @keyframes placeholder-fading {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }
    &.invalid.touched.blur {
        .control-underline::after {
            background-color: $error-color;
            width: 100%;
        }
    }
    .dropdown-container {
        position: absolute;
        background-color: #ffffff;
        border: 1px solid $box-border-color;
        width: 100%;
        >div {
            padding: 0.75rem 1rem;
            cursor: pointer;
            &:not(:last-child) {
                border-bottom: 1px solid $box-border-color;
            }
            &:hover {
                background-color: $box-background-color;
            }
        }
    }
}