@import '~tachyons/css/tachyons.min.css';
@import 'css/_variables.scss';
@import 'css/header.scss';
body {
    background-color: $background-color;
    position: relative;
}

h2 {
    font-size: 1.125rem;
    margin: 1.25rem 0;
}

p {
    font-weight: 300;
    margin: 0;
    @media screen and (max-width: 30rem) {
        font-size: 0.8125rem;
    }
}

main {
    display: block;
}

// TODO: moved to `article.article-main`
article {
    header,
    footer {
        p {
            @media screen and (min-width: 30rem) {
                font-size: 1.125rem;
            }
        }
    }
}

body,
button,
input,
optgroup,
select,
textarea {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: $font-color;
}

label {
    color: $label-color;
}

input {
    background-color: transparent;
    font-size: 1.125rem;
    &::placeholder {
        color: transparent;
        font-weight: 300;
    }
}

a,
a:hover,
a:link {
    &:not(.button-step) {
        color: $secondary-color;
        text-decoration: none;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 300;
    @media screen and (max-width: 30rem) {
        font-size: 0.8125rem
    }
}

.button-step {
    width: 15.5rem;
    line-height: 3.375rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: white;
    background-color: $primary-color;
    box-shadow: 0 0 3px 0 rgba(22, 39, 50, 0.8);
    &:hover {
        background: linear-gradient(180deg, #3D4F5A 0%, #162732 100%);
        box-shadow: none;
    }
    @media screen and (max-width: 30rem) {
        width: 10rem;
        line-height: 2.5rem;
        font-size: 0.875rem;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    }
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    header,
    footer {
        flex: 0 0 auto;
    }
    >div {
        flex: 1 1 auto;
    }
}

.main-footer {
    height: 6.25rem;
    color: $primary-color;
    background-color: $footer-background-color;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05), 0 -2px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $faded-color;
    @media screen and (max-width: 30rem) {
        height: 4.25rem;
        background-color: #efefef;
    }
}

@media screen and (min-width: 30em) {
    .container-inner,
    .container-outer {
        padding: 1.25rem;
    }
}

@media screen and (max-width: 30em) {
    .container-inner,
    .container-outer {
        padding: 0.625rem;
    }
}

.plr {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.pl {
    padding-left: 0.625rem;
}

.pr {
    padding-right: 0.625rem;
}

input[type=number] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.field-spacer {
    min-height: 6.5rem;
    &.checkbox-spacer {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.step-ctrls {
    margin-top: 4rem;
    margin-bottom: 4rem;
    position: relative
}

.validation-container {
    display: none;
}

.touched {
    .validation-container,
    +.validation-container {
        display: block;
        font-size: 0.75rem;
        color: $error-color;
        text-align: right;
        margin-top: 0.75rem;
        @media screen and (max-width: 30rem) {
            font-size: 0.6875rem;
        }
        @media screen and (max-width: 20rem) {
            font-size: 0.625rem;
        }
    }
}

label.checkbox {
    display: block;
    position: relative;
    color: $primary-color;
    cursor: pointer;
    line-height: 2rem;
    user-select: none;
    &:hover>.checkbox-mark {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    }
    >.checkbox-mark {
        box-sizing: border-box;
        width: 2.1875rem;
        height: 2.1875rem;
        line-height: 2.1875rem;
        transition: all 0.2s ease-out;
        border-radius: 50%;
        font-size: 1rem;
        border: 1px solid #162732;
        text-align: center;
        margin-right: 1rem;
        color: $background-color;
        display: inline-block;
        >.icon-check-tick {
            position: relative;
            top: 1px;
            vertical-align: initial;
        }
        @media screen and (max-width: 30rem) {
            width: 1.3125rem;
            height: 1.3125rem;
            line-height: 1.3125rem;
            font-size: 0.625rem;
            margin-right: .75rem;
        }
    }
    >input[type=checkbox] {
        display: none;
        &:checked+.checkbox-mark {
            background: #39B683;
            > ::before {
                content: "\e902";
                position: relative;
                top: 1px;
            }
        }
        &:not(:checked)+.checkbox-mark {
            color: transparent;
        }
        &:not(:checked)+.checkbox-mark.unchecked {
            color: $background-color;
            background: $placeholder-color;
            > ::before {
                content: "\e903";
                position: relative;
            }
        }
    }
    >.invalid {
        position: absolute;
        right: 0;
        top: 1em;
    }
}

[class^="icon-"],
[class*=" icon-"] {
    vertical-align: middle;
}

ul.dotted-list {
    margin-top: 0.25rem;
    >li {
        margin: 0;
        display: flex;
        &::before {
            padding-right: 1rem;
            content: '•';
        }
    }
}

.light-box {
    background-color: white;
}

.blue-box {
    background-color: #ECF5FB;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >article {
        flex: 1 1 auto;
    }
}

article.article-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    >* {
        width: 100%;
        &:not(.section-main) {
            flex: 0 0 auto;
        }
        &:not(.light-box):not(.dialog-wrapper) {
            @media screen and (min-width: 30em) {
                max-width: 51.25rem;
            }
        }
        @media screen and (min-width: 30em) {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
        @media screen and (max-width: 30em) {
            padding-left: 0.625rem;
            padding-right: 0.625rem;
        }
        >p {
            @media screen and (min-width: 30rem) {
                font-size: 1.125rem;
            }
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
    >header {
        margin-left: auto;
        margin-right: auto;
    }
    >section {
        &.section-main {
            flex: 1 1 auto;
        }
        &.section-nav {
            margin-top: 3rem;
            margin-bottom: 2rem;
            position: relative;
            text-align: center;
        }
    }
}

.btn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.25;
    font-weight: normal;
    height: 3.375rem;
    width: 8em;
    text-align: center;
    color: #F6F6F6 !important;
    background-color: #162732;
    box-shadow: 0 0 3px 0 rgba(22, 39, 50, 0.8);
    border: 1px solid #9FACB7;
    cursor: pointer;
    &.active,
    &:hover {
        background: linear-gradient(180deg, #3D4F5A 0%, #162732 100%);
        box-shadow: none;
    }
    &.btn-sm {
        line-height: 3rem;
        height: 3rem;
        font-size: 0.875rem;
        width: 6.75rem;
    }
    &.btn-lg {
        width: 15.5rem;
        line-height: 3.375rem;
        font-size: 1.125rem;
        font-weight: 300;
    }
    @media screen and (max-width:30rem) {
        height: 2.5rem;
        font-size: 0.875rem;
        width: 6em;
        &.btn-lg {
            width: 10rem;
            line-height: 2.5rem;
            height: 2.5rem;
            font-size: 0.875rem;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        }
        &.btn-sm {
            font-size: 0.75rem;
            font-weight: 300;
            width: 6.25rem;
            line-height: 2.25rem;
            height: 2.25rem;
        }
    }
    &.btn-reverse {
        color: $primary-color !important;
        background-color: transparent;
        border: 1px solid $primary-color;
        &:hover {
            background: transparent;
        }
    }
    &.btn-primary {
        background-color: $secondary-color;
        font-weight: 600;
        border: 0;
        &:hover {
            background: linear-gradient(180deg, $secondary-color 0%, #042763 100%);
        }
    }
}

.dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(22, 39, 50, 0.4);
    opacity: 1;
    transition: all 0.2s ease-in;
    &.hidden {
        visibility: hidden;
        opacity: 0;
    }
    >article.dialog {
        position: relative;
        margin: 10vh auto 0 auto;
        max-width: 40.625rem;
        border-radius: 5px 5px 2px 2px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
        background-color: #FFFFFF;
        >button.btn-close {
            font-size: 1.325rem;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0;
            margin: 0.625rem;
            background: none;
            border: none;
            outline: 0;
            color: #C3CDD4;
            line-height: 1rem;
        }
        @media screen and (max-width:30rem) {
            >button.btn-close {
                font-size: 0.875rem;
                margin: 0.5rem;
            }
        }
    }
}

.instruction-badge {
    position: relative;
    display: inline-block;
    height: 1rem;
    width: 1rem;
    line-height: 1rem;
    background-color: transparent;
    padding: 0;
    border: 1px solid black;
    font-size: 0.75rem;
    text-align: center;
    border-radius: 50%;
    margin: 0 .5rem;
    vertical-align: middle;
    cursor: pointer;
    &:hover,
    &.active {
        border-color: $secondary-color;
        color: $secondary-color;
    }
    &:focus {
        outline: 0
    }
    @media screen and (max-width: 30rem) {
        height: 0.75rem;
        width: 0.75rem;
        line-height: 0.75rem;
        margin: 0 .25rem;
        vertical-align: initial;
    }
}

a.tel {
    display: inline !important;
    @media screen and (min-width: 30rem) {
        color: inherit !important;
        cursor: default;
    }
}

.full-screen-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    >div:first-child {
        margin-bottom: 4rem;
        text-align: center;
        padding: 1rem;
    }
}